@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600;700&display=swap");

.container{
  height: 100vh;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.logo {
  width: 150px;
}
.logo2{
  width: 100%;
  height: auto;
}
h2{
  font-weight: bold !important;
}

h5 {
  margin-bottom: 0 !important;
  font-weight: 700;
}

h6 {
  text-transform: uppercase;
}
