@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

body {
  background: #f6f6f6;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
}

h5 {
  margin-bottom: 0;
  font-size: 0.9rem;
}

h6 {
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-bottom: 0;
}

.accordian-button {
  padding: 0px;
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
  box-shadow: none;
}

.accordion-item {
  border: none;
  margin-bottom: 30px;
}

/* .accordion {
  border: none ;
} */

.menu-img {
  width: 105px;
  height: 85px;
  object-fit: fill;
}

.vnveg {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-bottom: 2px;
}

#footer {
  padding-bottom: 30px;
}

#footer p {
  font-size: 0.8rem;
}

.w-logo {
  width: 90px;
}

.carousel-swiper img {
  max-height: 240px;
}

.logo-pishori img {
  max-width: 100px;
}

.category-heads {
  left: 89px;
  top: 528px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

/* .menu-headings .nav-link {
  background-color: transparent;
  width: 149px;
  height: 41px;
  border: 1.5px solid #c83131;
  box-sizing: border-box;
  border-radius: 7px 7px 0px 0px;
  color: #c83131;
} */

.nav-item {
  border: 2px solid #c83131;
  border-radius: 4px;
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.nav-link {
  color: #c83131;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #c83131;
  border-radius: 1px;
}

.food-menu-item {
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  color: #000000;
}
.food-menu-price {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 16px;
  color: #000000;
  margin-left: 9px;
}
.food-menu-subitem {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height */

  color: #5b5b5b;
}
.newprice {
  margin-block-end: 7px;
}
.newprice1 {
  font-weight: bold;
}
/* .menu-headings {
  border-bottom: 2px solid #c83131;
} */

/* .menu-headings > li.active > a,
.menu-headings > li.active > a:focus,
.menu-headings > li.active > a:hover {
  width: 150px;
  color: #ffffff;
  height: 41px;
  background: #c83131;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 7px 7px 0px 0px;
} */

/* .menu-headings a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #ffffff;
}  */

.drinks-headings {
  width: 47px;
  height: 23px;
  left: 89px;
  top: 528px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
}
.drinks-img {
  border-radius: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
@media screen and (max-width: 425px) {
  .drink-price {
    width: 17.667668% !important;
  }
}
